@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    overflow-x: hidden;
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to top, #000000, #40101c, #7c0726, #b90024, #f4000d);
}

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#f80707; /* cor do background que vai ocupar o body */
    z-index:999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}
.bolas > div {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 3px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
   
}
.bolas > div:nth-child(1) {
    animation-duration:0.75s ;
    animation-delay: 0;
}
.bolas > div:nth-child(2) {
    animation-duration: 0.75s ;
    animation-delay: 0.12s;
}
.bolas > div:nth-child(3) {
    animation-duration: 0.75s  ;
    animation-delay: 0.24s;
}
 
@keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
  } 
}


header{
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 2;
    justify-content: space-around;
    align-items: center; 
    
}

header i{
    color: red;
    font-size: 2.5rem;
    padding: .5rem;
}

header h1{
    text-align: center;
    color: red;
}
.menu{
    display: flex;
    gap: 2rem;
}

.menu a{
    border: 2px solid red;
    padding: .5rem;
    border-radius: 10px;
    color: black;
    transition: all 3s;
}

.menu a:hover{
    background-image: linear-gradient(to top, #000000, #40101c, #7c0726, #b90024, #f4000d);
    color: #fff;
}
main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.principal{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid red;
    padding-bottom: 8rem;
}

section video{
    max-width: 50%;
    border-radius: 20%;
    width: auto;
    height: auto;
}

.texto-main{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.texto-main h2{
    color: #fff;
    text-align: center;
    font-size: 2rem;
}

.texto-main p{
    font-size: 1rem;
    color: #fff;
}

.texto-main button{
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    background-color: #fff;
    border: 2px solid red;
    cursor: pointer;
}


 .videos{
     height: 100%;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     border-bottom: 2px solid red;
 }

 .videos h3{
    font-size: 2rem;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
 }

 #vid{
     animation: all 5s;
 }

 .videos-todos{
    opacity: 0;
    transform: translate3d(-100px,0,0);
    transition: 1s;
     background-color: rgba(0, 0, 0, 0.322);
     margin-top: 1rem;
     margin-bottom: 3rem;
     display: flex;
    flex-wrap: wrap;
     align-items: center;
     justify-content: space-around;
     width: 100%;
     height: 80%;
 }
 .anime-start{
    opacity: 1;
    transform: translate3d(0px,0,0);
}
.videos-img{
    position: relative;
    z-index: 10;
    background-color: black;
    width: auto;
    height: auto;
}
#teste{
    display: flex;
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #ffffff; 
    width: 35%;
    height: 5%;
    margin-bottom: 0;
    padding: 28% 33%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    text-align: center;
}
#teste:hover{
    opacity: 1;
}

.text {
    color: rgb(248, 248, 248);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.videos-todos h4{
    color: white;
    text-align: center;
}
.videos-todos p{
    color: white;
}
.video1 {
    width: auto;
    height: auto;
    display: flex;
    border-radius: 20px;
    padding: 4rem 2rem;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.videos a{
    background-color: red;
    font-size: 2rem;
    color: white;
    padding: 1rem;
    border-radius: 14px;
    border: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
}
.videos a:hover{
    opacity: .5;
}

footer{
    background-color: rgba(5, 0, 5, 0.5);
    height: auto;
    width: 100%;
    color: white;
}

.rodape{
    margin-top: 1rem;
    padding: 2rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}
.rodape_01{
    display: flex;
    flex-direction: column;
    gap: .2rem;
    justify-content: space-between;
}

.rodape_01 i{
    font-size: 5rem;
    color: red;
}

.rodape_01  h4{
    font-size: 2rem;
}

.rodape_02 h4{
    font-size: 2.5rem;
    text-align: center;
}

.rodape_02 p{
    padding-top: 1rem;
    text-align: center;
}

.rodape_03{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: 1rem;
}

.rodape_03 a{
    display: flex;
    gap: 0.5rem;
    color: rgb(22, 22, 22);
    align-items: center;
    border-radius: 10px;
    border: 4px solid rgb(109, 109, 109);
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    transition: all 1s;
}

.rodape_03 a:hover{
    opacity: 0.7;
}

.rodape_03 i{
   font-size: 1.5rem;
}

#b1{
    color: red;
}
#b2{
    color: rgb(0, 183, 255);
}
#b3{
    color: #c13584;
}
#b4{
    color: black;
}